{% extends 'admin/users/_modal.html.twig' %}

{% block modal_id %}delete-user-modal{% endblock %}
{% block modal_title %}
    <i class="fas fa-exclamation-triangle mr-2"></i>Confirm Delete
{% endblock %}

{% block modal_body %}
    <div class="text-center">
        <div class="mb-4">
            <div class="icon-circle bg-danger text-white mx-auto" style="width: 80px; height: 80px; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <i class="fas fa-user-times fa-2x"></i>
            </div>
        </div>
        <h4 class="mb-3">Delete User</h4>
        <p class="mb-1">Are you sure you want to delete the user <strong id="delete-user-name" class="text-danger">{{ user.name is defined ? user.name : '' }}</strong>?</p>
        <p class="text-danger mb-0"><i class="fas fa-info-circle mr-1"></i>This action cannot be undone.</p>
        
        {{ form_start(form, {'attr': {'id': 'delete-user-form'}}) }}
            {{ form_widget(form) }}
            <input type="hidden" id="delete-user-id" name="id" value="{{ user.id_user is defined ? user.id_user : '' }}">
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block modal_footer %}
    <button type="button" class="btn btn-rounded btn-secondary" id="delete-cancel-btn">
        <i class="fas fa-times mr-1"></i> Cancel
    </button>
    <button type="button" class="btn btn-rounded btn-delete" id="confirm-delete-btn">
        <i class="fas fa-trash-alt mr-1"></i> Delete User
    </button>
{% endblock %}
